@import "tailwindcss";

@theme {
    /* tipografía */
    --font-sans: "Plus Jakarta Sans", system-ui, sans-serif;

    /* paleta de Bookly */
    --color-brand: #12A594;
    --color-brand-d: #0E7F76;
    --color-brand-2: #86C440;
    --color-ink: #16324F;
    --color-ink-2: #4A6076;
    --color-ink-3: #8595A6;
    --color-bg: #F6F4EE;
    --color-line: #E7E2D7;
}

body {
  font-family: theme(--font-sans);
}